################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug
/Engine/tileEngine.Engine/bin/Debug
/Engine/tileEngine.Engine/obj/Debug
/obj/Debug
/packages
/Player/tileEngine.Player
/SDK/tileEngine.SDK/bin/Debug
/SDK/tileEngine.SDK/obj/Debug
/Engine/tileEngine.Engine/bin/Release
/Engine/tileEngine.Engine/obj/Release
/obj/Release
/SDK/tileEngine.SDK/bin/Release
/SDK/tileEngine.SDK/obj/Release
/Documentation/tileEngine.Docs/obj/Debug
/Documentation/tileEngine.Docs/obj
/Documentation/tileEngine.Docs/bin/Debug
/Documentation/tileEngine.Docs/_site
/Documentation/tileEngine.Docs/log.txt
/Engine/tileEngine.Engine/obj/xdoc/cache
/obj/xdoc/cache
/SDK/tileEngine.SDK/obj/xdoc/cache
