################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug
/Engine/tileEngine.Engine/bin/Debug
/Engine/tileEngine.Engine/obj/Debug
/obj/Debug
/packages
/Player/tileEngine.Player
/SDK/tileEngine.SDK/bin/Debug
/SDK/tileEngine.SDK/obj/Debug
/Engine/tileEngine.Engine/bin/Release
/Engine/tileEngine.Engine/obj/Release
/obj/Release
/SDK/tileEngine.SDK/bin/Release
/SDK/tileEngine.SDK/obj/Release
